<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
  <div class="bg-white shadow-xl rounded-2xl p-8 max-w-md w-full">
    <h2 class="text-2xl font-bold text-gray-800 text-center mb-6">Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email</label
        >
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Enter your email"
          class="w-full p-3 border rounded-lg focus:ring focus:ring-blue-300"
          [ngClass]="{ 'border-red-500': email?.invalid && email?.touched }"
        />
        @if (email?.invalid && email?.touched) {
        <p class="text-red-500 text-sm">Valid email is required</p>
        }
      </div>

      <div class="relative">
        <label for="password" class="block text-sm font-medium text-gray-700"
          >Password</label
        >
        <input
          id="password"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Enter your password"
          class="w-full p-3 border rounded-lg focus:ring focus:ring-blue-300"
          [ngClass]="{
            'border-red-500': password?.invalid && password?.touched
          }"
        />

        <button
          type="button"
          (click)="togglePassword()"
          class="absolute inset-y-0 right-3 flex items-center text-gray-500"
        >
          @if (!showPassword) {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            fill="none"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 3l18 18M10.5 10.677a2 2 0 002.823 2.823M7.362 7.561A8 8 0 0112 6c4 0 7 3 9 6-1.825 2.737-4.34 5.16-7.438 5.878M9 6.75h0a8 8 0 00-5 5.25c.462.865 1 1.692 1.6 2.425"
            />
          </svg>
          } @if (showPassword) {

          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            fill="none"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6c-4 0-7 3-9 6 2 3 5 6 9 6s7-3 9-6c-2-3-5-6-9-6z"
            />
            <circle cx="12" cy="12" r="3" stroke-width="2" />
          </svg>
          }
        </button>

        @if (password?.invalid && password?.touched) {
        <p class="text-red-500 text-sm">
          Password must be at least 6 characters
        </p>
        }
      </div>

      <button
        type="submit"
        class="w-full bg-blue-500 text-white py-3 rounded-lg font-semibold flex items-center justify-center"
        [disabled]="loginForm.invalid || loading"
      >
        @if (!loading) {
        <span>Login</span>
        } @if (loading) {
        <svg class="animate-spin h-5 w-5 ml-2" viewBox="0 0 24 24">
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="white"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="white"
            d="M4 12a8 8 0 0116 0 8 8 0 01-16 0zm2 0a6 6 0 0112 0 6 6 0 01-12 0z"
          ></path>
        </svg>
        }
      </button>
    </form>
    @if (errorMessage) {
    <div class="text-red-500 text-sm mt-2">
      {{ errorMessage }}
    </div>
    }
  </div>
</div>
